.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  color: #1e1c1d;
  background-color: #fff;
  margin: 32px auto;
  margin-bottom: 100px;
  justify-content: center;
  padding: 0px 32px;
  padding-bottom: 100px;
}

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(332px, max-content));
  justify-content: center;
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 700px;
    gap: 24px;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 760px) {
  .container {
    width: 760px;
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    gap: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    gap: 24px;
  }
}

@media screen and (min-width: 1750px) {
  .container {
    width: 1700px;
    gap: 48px;
  }
}
