.navbar {
  position: relative;
  height: 60px;
  width: 100%;
  color: #fff;
  background-color: #303030;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px 32px;
}

.submenu {
  display: flex;
  gap: 24px;
}

.logo {
  text-decoration: none;
  color: #fff;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255);
}
