.input-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
}

.input {
  border-radius: 12px;
  border: solid 1px #3c3c45;
  color: #000;
  font-size: 18px;
  height: 40px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  color-scheme: light;
}

.show-hide {
  position: absolute;
  right: 8px;
  top: 4px;
}

.input:focus {
  box-shadow: 0 0 2pt 1pt #3c4fe0;
}

.label {
  color: #1e1c1d;
  padding-left: 8px;
  font-size: 18px;
  line-height: 14px;
  pointer-events: none;
}

.active {
  color: #212124;
}

.error {
  color: #ef5656;
  font-size: 14px;
  padding-left: 8px;
  pointer-events: none;
}
